<div class="wrapper">
<header class="main-header">
    <a href="" class="logo">
        <span class="logo-lg"><b>BONVOYAGE</b></span>
    </a>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

        </div>
    </nav>

</header>
<div class="content-wrapper">
<section class="content">
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <form action="/getDestination" method="post" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="name" class="form-control" placeholder="Travel Destinations">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <form action="/getHotel" method="post" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="name" class="form-control" placeholder="Hotels">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li>
                <a href="beaches">
                    <i class="fa  fa-cog"></i> <span>Beaches</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <li>
                <a href="wildlife">
                    <i class="fa fa-leaf"></i> <span>Wild Life</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <li>
                <a href="rainforests">
                    <i class="fa fa-tree"></i> <span>Rainforests</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <li>
                <a href="heritage">
                    <i class="fa  fa-bank"></i> <span>Heritage</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <li>
                <a href="hillcountry">
                    <i class="fa fa-leaf"></i> <span>Hill country</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <!--<li>-->
                <!--<a href="pages/calendar.html">-->
                    <!--<i class="fa fa-bicycle"></i> <span>Adventures</span>-->
                    <!--<span class="pull-right-container"></span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="pages/calendar.html">
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <li>
                <a href="blogs">
                    <i ></i> <span>Travel Blogs</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>

    <img src="/images/1.jpg" alt="beautiful image" width="480" height="260">

    <img src="/images/2.jpg" alt="beautiful image" width="480" height="260">

    <img src="/images/3.jpg" alt="beautiful image" width="480" height="260">


    <img src="/images/4.jpg" alt="beautiful image" width="480" height="260">


    <img src="/images/5.jpg" alt="beautiful image" width="480" height="260">

<!--<a href="https://www.w3schools.com/html/html_links.asp">-->

    <img src="/images/6.jpg" alt="beautiful image" width="480" height="260">
<!--</a>-->
</section>
</div>
</div>