<img src="/images/bonvo.png" alt="beautiful image" width="100%">


<nav class="navbar navbar-inverse ">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <!--<li class="profile-username text-black text-bold text-capitalize text-center">{{name}}</li>-->
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--<div class="col-md-6"></div>-->
<!--<img src="/images/travel.jpg" alt="beautiful image" height="300px" width="500px" >-->
<!--</div>-->
<!--<div class="col-md-6"></div>-->
<!--<img src="/images/travel.jpg" alt="beautiful image" >-->
<!--</div>-->

<div class="box box-primary" >

    <form role="form" method="post" action="/addBlog" >
        <div class="col-sm-6 col-sm-offset-3">
            <div class="box-body">
                <div class="form-group" >
                    <label for="Hotel name" >Name of the blog</label>

                    <input type="text" class="form-control" name="hotelName" placeholder="Enter blog name"required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>

                    <input type="text" class="form-control" name="description" placeholder="Enter description"required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Image URL</label>

                    <input type="text" class="form-control" name="imageURL" placeholder="image URL"required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email Address</label>

                    <input type="email" class="form-control" name="email" placeholder="Enter email"required>
                </div>

            </div>

            <div class="col-sm-4 col-sm-offset-4 profile-username text-bold text-capitalize text-left info-box-text">
                <input type="submit" class="form-control" name="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
<!--<body background="/images/star.jpg" bgproperties="fixed"> </body>-->
<body background="/images/star.jpg" bgproperties="fixed"> </body>